<h3 class="page-sub-header">Notes</h3>
<ul class="notes-list">

<% track.notes.each do |note| %>
  <li class="note">
    <%= h(note.content) %>
    - Author:<%= h(note.user.email[0..30]) %><%= note.user.email.length >= 30 ? "..." : "" %>
  </li>
  <% if current_user.id == note.user_id %>
    <form action="<%= note_url(note) %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <%= auth_token %>
        <input class="button" type="submit" name="submit" value="Delete Note">
    </form>
  <% end %>
<% end %>
</ul>
