<% content_for :nav do %>
  <%= render "shared/nav" %>
<% end %>

<%= render "shared/errors" %>
<%= render "shared/messages" %>

<% content_for :page_header do %>
  <h2 class="page-header"><%= current_track.name %></h2>
<% end %>
<section class="lyric-display-section">

  <h4>&#119070; <%= current_track.lyrics %></h4>

  <%= render "notes/form", track: current_track %>

  <%= render "notes/note", track: current_track %>

</section>

<% content_for :page_footer do %>
  <h3 class="page-sub-header">Links</h3>
  <div class="footer-div">
      <a class="button" href="<%= edit_track_url(current_track) %>">Edit Track</a>
      <form action="<%= track_url %>" method="post">
        <%= auth_token %>
          <input type="hidden" name="_method" value="DELETE">
          <input class="button" type="submit" value="Destroy Track">
      </form>
      <a class="button" href="<%= album_url(current_track.album) %>">Back to: <%= current_track.album.title %></a>
  </div>
<% end %>
