<% content_for :nav do %>
  <%= render "shared/nav" %>
<% end %>

<%= render "shared/errors" %>
<%= render "shared/messages" %>

<% content_for :page_header do %>
  <h2 class="page-header">Users Admin</h2>
<% end %>

<section class="display-section">
  <ul class="display-list">
    <% @users.order(:email).each do |user| %>
      <li class="admin-list-item">
        <p><%= user.email %></p>
        <p>Admin Status: <%= user.admin %></p>
        <p>
        <% if user.admin %>
          <a style="background-color:red" class="button" href="<%= admin_users_url %>?id=<%= user.id %>">Remove Admin</a>
        <% else %>
          <a style="background-color:green" class="button" href="<%= admin_users_url %>?id=<%= user.id %>">Make Admin</a>
        <% end %>
      </p>
      </li>
    <% end %>
  </ul>
</section>


<% content_for :page_footer do %>
  <h3 class="page-sub-header">Links</h3>
  <div class="footer-div">
    <a class="button" href="<%= new_band_url %>">New Band</a>
  </div>
<% end %>
