<nav class="main-nav">
  <div class="nav-div">
    <form class="" action="<%= bands_url %>" method="GET">
      <p>
        <input class="button" type="submit" value="Go Home">
      </p>

    </form>
  </div>

  <div class="nav-div">

  <p> Welcome: <%= h(current_user.email[0..35]) %><%= current_user.email.length >= 35 ? "..." : "" %></p>

    <form class="" action="<%= session_url(session.id) %>" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <%= auth_token %>
      <p>
        <input class="button" type="submit" value="Log Out">
      </p>
    </form>
  </div>

</nav>
