<% content_for :nav  do %>
  <%= render "shared/nav" %>
<% end %>

<%= render "shared/errors" %>
<%= render "shared/messages" %>

<% content_for :page_header do %>
  <h2 class="page-header">Edit <%= h(@album.title[0..40]) %> <%= @album.title.length >=40 ? "..." : "" %>Album!</h2>
<% end %>


<%= render "form", album: @album %>
