<% content_for :nav  do %>
  <%= render "shared/nav" %>
<% end %>

<% this_band = Band.find(params[:band_id]) %>
<% @album = Album.new %>

<%= render "shared/errors" %>
<%= render "shared/messages" %>


<% content_for :page_header do %>
  <h2 class="page-header">New <%= h(this_band.name[0..40]) %><%= this_band.name.length >=40 ? "..." : "" %> Album!</h2>
<% end %>

<%= render "form", album: @album %>
