<% content_for :nav do %>
  <%= render "shared/nav" %>
<% end %>

<%= render "shared/errors" %>
<%= render "shared/messages" %>

<% content_for :page_header do %>
  <h2 class="page-header"><%= h(current_album.title[0..40]) %><%= current_album.title.length >=40 ? "..." : "" %></h2>
<% end %>

<h3 class="page-sub-header">Tracks</h3>

 <section class="display-section">
   <ul class="display-list">
     <% current_album.tracks.each do |track| %>
     <li>
       <a href="<%= track_url(track) %>">
         <p><%= h(track.name[0..40]) %><%= track.name.length >=40 ? "..." : "" %></p>
       </a>
     </li>
     <% end %>
   </ul>
   <% if current_album.tracks.empty? %>
    <p>No tracks added yet!</p>
   <% end %>
 </section>


<% content_for :page_footer do %>
  <h3 class="page-sub-header">Links</h3>
  <div class="footer-div">
    <a class="button" href="<%= new_album_track_url(current_album) %>">New Track</a>
    <a class="button" href="<%= edit_album_url %>">Edit Album</a>
    <form action="<%= album_url %>" method="post">
        <%= auth_token %>
       <input type="hidden" name="_method" value="DELETE">
       <input class="button" type="submit" value="Destroy Album">
    </form>
    <a class="button" href="<%= band_url(current_album.band) %>">Back to: <%= h(current_album.band.name[0..40]) %><%= current_album.band.name.length >=40 ? "..." : "" %></a>
  </div>
<% end %>
