<% content_for :nav  do %>
  <%= render "shared/nav" %>
<% end %>

<% content_for :page_header do %>
  <h2 class="page-header">Edit: <%= h(current_band.name[0..40]) %><%= current_band.name.length >=40 ? "..." : "" %></h2>
<% end %>

<%= render "shared/errors" %>
<%= render "shared/messages" %>

<%= render "form", band: @band %>
